.formulario{
    width: 25%;
    height: 300px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
    left: 36%;
    border-radius: 10px;
}

.formulario .nomb-form{
    top: 15px;
    position: absolute;
}

.formulario .linea{
    width: 120px;
    height: 5px;
    background-color: #00173B;
    position: absolute;
    top: 50px;
    border-radius: 10px;
}
form{
    width: 60%;
    height: 220px;
    position: relative;
    margin-top: 35px;
}

form input{
    width: 200px;
    height: 35px;
    background-color: #DFDFDF;
    display: block;
    margin-top: 15px;
    position: relative;
    border: none;
    border-radius: 5px;
    outline: none;

}


form input::placeholder{
    position: absolute;
    margin-left: 10px;
}
form button{
    width: 70px;
    height: 30px;
    background-color: #66D857;
    margin-top: 10px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}

@media (min-width: 320px){
    .formulario{
        width: 80%;
        height: 360px;
        top: 23%;
        left: 11%;
        
    }

    form{
        width: auto;
        margin-top: 0px;
    }

    form input{
        height: 50px;
        font-size: 15px;
    }

    form button{
        height: 40px;
        font-size: 15px;
    }
}

@media (min-width: 1024px){
    .formulario{
      width: 30%;
      left: 360px;

    }
}

@media (min-width: 1559px){
    .formulario{
        width: 30%;
        left: 550px;
    }
}