* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    background-color: #00173B;
}

.header .logo {
    margin-top: 10px;
    position: relative;
}

.header .buscador {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    position: absolute;
    margin-top: 24px;
    left: 53%;
}

.header .buscador::placeholder {
    position: absolute;
    margin-left: 20px;
}

.header .idioma {
    position: absolute;
    left: 90.5%;
    margin-top: 28px;
}


.header .notificaciones {
    position: absolute;
    left: 87%;
    margin-top: 31px;
}


.header .usuario {
    position: absolute;
    left: 95%;
    margin-top: 28px;
}

.navbar {
    width: 95%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.navbar .menu {
    position: absolute;
    left: 94%;
}

ul {
    width: auto;
    height: 35px;
    /*background-color: rgb(197, 0, 0);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;

}


ul li {
    display: inline-block;
    position: relative;
    margin: 0px;
    color: #00173B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;
    color: rgb(105, 105, 105);
    background-color: white;
}


ul li:first-child {
    width: 270px;
    height: 33px;
    border-radius: 3px;

}

ul li:nth-child(2) {
    width: 270px;
    height: 33px;
    border-radius: 3px;

}

ul li:nth-child(3) {
    width: 270px;
    height: 33px;
    border-radius: 3px;

}

ul li:nth-child(4) {
    width: 270px;
    height: 33px;
    border-radius: 3px;


}


ul li:hover {
    background-color: #06f5cd;
    transition: all 1s;
    color: #00173B;
}

.contenedor_tabla {
    width: 80%;
    height: 335px;
    margin-top: 2%;
    left: 9%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.tabla_informacion {
    background-color: white;
    border-radius: 10px;
}

.tabla_informacion th {
    background-color: #E5E5E5;
    font-weight: bold;
}

.tabla_informacion th:nth-child(1) {
    border-top-left-radius: 10px;
}

.tabla_informacion th:nth-child(5) {
    border-top-right-radius: 10px;
}

.tabla_informacion .info_cliente:hover {
    background-color: #66D857;
}


footer {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    margin-top: 378px;
    justify-content: center;
    align-items: center;

}

footer .imagenes {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 412px) and (min-width: 412px) {
    .contenedor_tabla {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

    }

    .tabla_informacion {
        width: 100%;
        height: 180px;
        font-size: 13px;
        margin-left: 25px;
    }
}

@media (min-width: 1124px) {
    .contenedor_tabla {
        width: 80%;
        height: 335px;
        display: flex;
        top: 20%;
    
    }

    .tabla_informacion {
        width: 100%;
        position: relative;
        left: 5%;
    }
}

@media (max-width: 1280px) {
    .contenedor_tabla {
        width: 90%;
        height: 335px;
        top: 20%;
        left: 1%;

    }
}