.contenedor_tabla {
    width: 80%;
    height: 335px;
    margin-top: 5%;
    font-size: 16px;
    left: 9%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.tabla_informacion {
    background-color: white;
    border-radius: 10px;
}

.tabla_informacion th {
    background-color: #E5E5E5;
    font-weight: bold;
}

.tabla_informacion th:nth-child(1) {
    border-top-left-radius: 10px;
}

.tabla_informacion th:nth-child(5) {
    border-top-right-radius: 10px;
}

.tabla_informacion .info_cliente:hover {
    background-color: #66D857;
}

/*Para movil*/
@media (min-width: 393px) {
    .contenedor_tabla {
        width: 93%;
        height: 400px;
        font-size: 16px;
        top: 18%;
        left: 5%;
    }

    .contenedor_tabla .tabla_informacion{
        height: 400px;
    }
}

@media (min-width: 820px) {
    .contenedor_tabla {
        width: 95%;
        height: 500px;
        font-size: 24px;
        top: 13%;
        left: 2.5%;
    }

    .contenedor_tabla .tabla_informacion{
        width: 95%;
        height: 500px;
    }
}

@media (min-width: 1559px){
    .contenedor_tabla{
        width: 95%;
        height: 600px;
        font-size: 28px;
        top: 12%;
        left: 2%;
    }

    .contenedor_tabla .tabla_informacion{
        width: 95%;
        height: 600px;

    }
 }