

.principal {
    width: 80%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 27%;
    left: 130px;
    border-radius: 10px;
}

.principal .titulo-detalleGasto {
    width: 70%;
    height: 50px;
    background-color: #00173B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    margin-top: -20px;
    color: white;
    box-shadow: 5px 5px 5px #00173B;
}


.principal .datosDeGastos {
    width: 90%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    display: block;
    align-items: center;
    margin-top: 52px;
}

.datosDeGastos .contenedor-gasto {
    display: inline-block;
    position: relative;
}

.datosDeGastos .divDetalle {
    width: 280px;
    height: 90px;
    background-color: #DFDFDF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 30px;

}

.divDetalle .tituloDelCampo {
    font-weight: bold;
}

.divDetalle .dato {
    width: 140px;
    height: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 5px;
}

@media (min-width: 393px) {
    .principal {
        width: 90%;
        height: 510px;
        display: flex;
        justify-content: center;
        top: 23%;
        left: 20px;
    }

    .principal .titulo-detalleGasto {
        font-size: 12px;
    }

    .principal .datosDeGastos {
        width: 85%;
        height: auto;
        font-size: 16px;
        border-radius: 10px;
    }

    .datosDeGastos .contenedor-gasto {
        display: inline-block;

    }

    .datosDeGastos .divDetalle {
        height: 55px;
        border-radius: 20px;
        background-color: #DFDFDF;
    }

}

@media (min-width: 820px) {
    .principal {
        width: 80%;
        height: 800px;
        top: 17%;
        left: 80px;
    }

    .principal .datosDeGastos{
        width: 300px;
       
    }

    .principal .divDetalle{
        height: 90px;
        margin-top: 20px;
    }


}

@media (min-width: 1559px) {
    .principal {
        width: 70%;
        height: 500px;
        top: 21%;
        left: 240px;
    }

    .principal .datosDeGastos{
        width: 610px;
    }

    .datosDeGastos .divDetalle {
        height: 90px;
        font-size: 20px;
        margin-top: 30px;
    }

    .divDetalle .dato {
        height: 30px;
    }

}