main{
    display: flex;
    justify-content: center;
    
}

.seccion_detalle_cliente{
    width: 50%;
    height: 350px;
    margin-top:15px ;
    background-color: #ffffff;
    border-radius: 10px;
    

    
    
   
}
.div_titulo{
    text-align: center;
    background-color: #D9D9D9 ;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo_detalle_cliente{
    width: 50%;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #002053;
    
}

.div_padre_info_cliente{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    margin-left: 30px;
}

.informacio_cliente{
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 10px;

}
.campo_informacion{
    display: flex;
    margin: 5px;
    font-size: 20px;

}

.campo_informacion div{
    margin-left: 10px;

}

.div_boton_editar{
    text-align: center;
    
}
.boton_editar{
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: #ffffff;
    background-color: #66D857;

}



/*Responsivo*/

@media(max-width:1400px){
    .seccion_detalle_cliente{
        width: 80%;
    }
     
}

@media(max-width:855px) {
    .seccion_detalle_cliente{
        width: 90%;
        
    }
    
}
@media screen and (max-width: 770px) {
    .seccion_detalle_cliente{
        height: 40%;
    }
    .div_padre_info_cliente{
        margin: auto;
        display: flex;
        flex-direction: column;  

    }
    .campo_informacion{
        padding: 5px;
        
    }
    .campo_informacion{
        flex-direction: column;
        
    }
    .div_padre_informacion{
        margin: auto;
    }
    .div_boton_editar{
        margin: auto;
    }
}
@media screen and (max-width:500px) {
    .titulo_detalle_cliente{
        width: 70%;
        font-size: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
}