
.contenido {
    width: 100%;
    height: 300px;

    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 20px;
}

.contenido .eslogan {
    width: 43%;
    height: 210px;
    font-size: 42px;
    display: flex;
    align-items: center;
    left: 40px;
    position: relative;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: italic;
    border-radius: 13px;
    background-color: white;
    box-shadow: rgb(184, 184, 184) 0px 3px 15px;
    background-image: url("/img/fondo2.png");
    background-size: 100% 200px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.eslogan p{
    margin-left: 10px;
}
.contenido .operaciones{
    width: 25%;
    height: 255px;
    background-color: rgb(240, 248, 255);
    display: block;
    position: relative;
    left: 10%;
    justify-content: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    
}

.operaciones .prestamos{
    width: 60%;
    height: 90px;
    background-color: #32CD32;
    color: white;
    font-size: 15px;
    margin-top: 33px;
    margin-left: 65px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operaciones .cobro{
    width: 60%;
    height: 90px;
    background-color: #32CD32;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 65px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operaciones .agregar{
    position: relative;
    margin: 5px;
}

footer {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    margin-top: 361px;
    justify-content: center;
    align-items: center;

}
 
footer .imagenes {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}