.contenido {
    width: 100%;
    height: 300px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 20px;
}

.contenido .eslogan {
    width: 43%;
    height: 210px;
    font-size: 42px;
    display: flex;
    align-items: center;
    left: 40px;
    position: relative;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: italic;
    border-radius: 13px;
    background-color: white;
    box-shadow: rgb(184, 184, 184) 0px 3px 15px;
    background-image: url("/img/fondo2.png");
    background-size: 100% 200px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: justify;
}

.eslogan p{
    margin-left: 10px;
}
.contenido .operaciones{
    width: 25%;
    height: 255px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: relative;
    left: 10%;
    justify-content: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    
}

.operaciones .prestamos{
    width: 60%;
    height: 90px;
    background-color: #32CD32;
    color: white;
    font-size: 15px;
    margin-top: 33px;
    margin-left: 65px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operaciones .cobro{
    width: 60%;
    height: 90px;
    background-color: #32CD32;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 65px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operaciones .agregar{
    position: relative;
    margin: 5px;
}

@media (min-width: 393px){
    .contenido{
        width: 90%;
        display: block;
        justify-content: center;
        left: 20px;
        top: 20%;
    }

    .contenido .eslogan{
        width: 90%;
        height: 150px;
        font-size: 24px;
        left: 14px;
        background-size: 100% 150px;
        
        padding: 10px;
    }

    .contenido .operaciones{
        width: 90%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 14px;
        margin-top: 15px;
    }

    .operaciones .prestamos{
        width: 43%;
        height: 89px;
        margin-top: 0px;
        margin-left: 0px;
        margin: 5px;
        font-size: 13px;
    }

    .operaciones .cobro{
        width: 43%;
        height: 89px;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 13px;
    }
}

@media (min-width: 820px){
    .contenido{
        width: 90%;
        height: 600px;
        display: block;
        justify-content: center;
        align-items: center;
        top: 15%;
        left:5%;
    }

    .contenido .eslogan{
        width: 100%;
        height: 300px;
        left: 0px;
        font-size: 52px;
        background-size: 100% 300px;
    }

    .contenido .operaciones{
        width: 100%;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        left: 0px;
        padding: 15px;
    }

    .operaciones .prestamos{
        width: 50%;
        height: 150px;
        margin-left: 0px;
        font-size: 20px;
    }

    .operaciones .cobro{
        width: 50%;
        height: 150px;
        font-size: 20px;
  
    }
}

@media (min-width: 1559px){
    .contenido{
        width: 80%;
        height: 650px;
        display: block;
        justify-content: center;
        align-items: center;
        top: 17%;
        left: 150px;
    }

    .contenido .eslogan{
        width: 100%;
        height: 350px;
        font-size: 65px;
        background-size: 100% 350px;
    }

    .contenido .operaciones{
        width:100%;
        padding: 15px;
    }

    .operaciones .prestamos{
        width:50%;
        height: 170px;
        font-size: 23px;
    }

    .operaciones .cobro{
        width:50%;
        height: 170px;
        font-size: 15px;
        font-size: 23px;
    }

}