.contenedor{
    width: 200px;
    height: 200px;
    background-color: #00173B;
    margin-top: 15%;
}

.submenu {
    width: 190px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 83%;
    display: none;

}

.submenu .li-2 {
    list-style: none;
    line-height: 1.7;
}

.contenedor:hover  .submenu{
    cursor: pointer;
    display: flex;
    top: 23%;
    z-index: 1;
}

.contenedor_tabla{
    width: 80%;
    height: 335px;
    margin-top: 5%;
    left: 9%;
    border-radius: none;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.tabla_informacion{
   background-color: white;
   border-radius: 10px;
   
}

.tabla_informacion th{
    background-color: #E5E5E5;
    font-weight: bold;
}
.tabla_informacion th:nth-child(1){
    border-top-left-radius: 10px;
}

.tabla_informacion th:nth-child(4){
    border-top-right-radius: 10px;
}

.tabla_informacion .info_cliente:hover{
    background-color: #66D857;
}

/*movil*/
@media (min-width: 393px) {
    .contenedor_tabla{
       width: 95%;
       height: 400px;
       font-size: 14px;
       top: 18%;
       left: 3%;
    }

    .contenedor_tabla .tabla_informacion{
        width: 95%;
        height: 400px;
    }

}

/*tablet*/
@media (min-width: 820px){
    .contenedor_tabla{
        width: 95%;
        height: 500px;
        font-size: 22px;
        top: 13%;
        left: 3%;
    }

    .contenedor_tabla .tabla_informacion{
        width: 95%;
        height: 500px;
    }
}
 /*laptop*/
 @media (min-width: 1559px){
    .contenedor_tabla{
        width: 90%;
        height: 600px;
        font-size: 28px;
        top: 12%;
        left: 5%;
    }


    .contenedor_tabla .tabla_informacion{
        width: 90%;
        height: 600px;
    }
 }