.container-1{
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
    background-color: #D9D9D9;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
}

.div-imagen-padre{
    width: 200px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: 1px solid black; */
}

.div-imagen{
    width: 200px;
    height: 200px;
    margin: auto;
    /* border: 1px solid red; */
}

.div-imagen img{
    width: 200px;
    height: 200px;
}

.container-2{
    width: 300px;
    height: 90%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #00173B;

    display: flex;
    flex-direction: column;
    
}

.logo{
    margin-top: 40px;
    margin-left: 30px;
    /* margin-bottom: 50px; */
    width: 250px;
}

.imput-login{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    border: none;

}

.boton-login{
    width: 100px;
    height: 30px;
    /* margin-top: 30px; */
    margin-left: 95px;
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
    border: none;
    background-color: #5DFF3D;
}

@media screen and (max-width: 1015px) {
    .container-1{
        min-width: 700px;
    
    }


    
}

@media screen and (min-width: 1016px) {
    .container-1{
        min-width: 700px;
       

    }


    
}

@media screen and (max-width: 721px) {
    .container-1{
        min-width: 700px;
        

    }


    
}

