.resultado{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    
}

.resultado{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.grafico{
    background-color: #cccccc52;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    font-size: 20px;
    height: 400px;
    border-radius: 5px;
    margin-right: 30px;
   
}


.cuenta_resultado{
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center; 
}

.cuenta_encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00173b9f ;
    height: 60px;
    border-bottom: 10px;
    font-size: 25px;
    color: #ffffff;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-left: none;
    
    
}

th{
    padding: 5px ;
    background-color: #E5E5E5;
}


.tabla_resultado{
    width: 100%;
    height: 100%;
    font-size: 20px;

    
}
.celdas_Dinero{
    height: 200px;
    border-top: none;
    
    
}
.resultado_total{
    width: 90;
}

.resultado_total{
    background-color: #00173B;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    grid-column: 2/3;
    
}
.total_ganancias{
    background-color: #ffffff;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.total{
    background-color: #66D857;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;


}



/*Responsividad*/

@media screen and (max-width:680px) {
    .resultado{
        display: flex;
        flex-direction: column;
        
    }
    .grafico{
        display: flex;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    
        
}

